*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
    }
    body {
        margin: 0;
        font-family: 'Zilla Slab', serif;
        font-size: 48px;
        color: white;
        min-width: 1170px;
      }
         
      /* Container */
      .container {
        
         width: 100%;
         max-width: 1200px;
         margin: 0 auto; 
         padding: 0px 25px;
         
      }

      .container__logo {
         display: flex;
         width: 100%;
         max-width: 1200px;
         margin: 0 auto; 
         padding: 0px 25px;
         
      }
      
      /* Header */
      .header{
          
          background-color: black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 144px;
          max-width: 100%;
          line-height: 130px;
          
       }
      /* Logo */
      .logo__letter {
         font-size: 25px;
       }

      .logo__letter--V {
         color: red;
         font-size: 100px;
       }

      .logo__letter--EO {
         font-size: 25px;
         margin-left: 0px;
       }

      .pf {
         text-decoration: none;
         cursor: pointer;
         color: white;
         font-size: 25px;
         margin-left: 750px;
       }

       .pf:hover {
         color: red;
       }

       .header__menu:hover {
           color: red;
       }

      /* Text Block */
  .text__main {
         font-family: 'Zilla Slab Highlight', cursive;
         color: black;
         max-width: 805px;
         font-size: 45px;
         margin: 0 auto;
         padding-top:  135px;
         
       }

   .text__aboutme {
          font-family: 'Zilla Slab Highlight', cursive; 
         color: black;
         font-size: 40px;
         max-width: 700px;
         margin-left: 300px;
         
       }
      /* Links Block */
   .link {
         color: red;
        }

    .link:hover {
        color: blue;
    }

    .contact__links ul {
         padding: 0;
         margin-left: 570px;
        }

    .contact__links ul li {
         display: inline-block;
         margin-right: 25px;
         font-size: 24px
         
    
        }  

     .link__text {
      text-decoration: none; 
        }

     .link__text:hover {
         color: red;
     }
